<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.store.dao.UserMapper">


    <!-- 插入用户数据：int insert(User user) -->
    <insert id="insert" parameterType="com.xm.store.pojo.User" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO
            t_user (username, password, salt, phone, email, gender, avatar, is_delete, created_user, created_time, modified_user, modified_time)
        VALUES
            (#{username}, #{password}, #{salt}, #{phone}, #{email}, #{gender}, #{avatar}, #{is_delete}, #{created_user}, #{created_time}, #{modified_user}, #{modified_time})
    </insert>

    <!-- 根据用户名查询用户数据：User findByUsername(String username) -->
    <select id="findByUsername" resultType="com.xm.store.pojo.User">
        SELECT
            *
        FROM
            t_user
        WHERE
            username = #{username}
    </select>

    <select id="findByUid" resultType="com.xm.store.pojo.User">
        SELECT
            *
        FROM
            t_user
        WHERE uid = #{uid}
    </select>

    <!-- 根据uid更新用户的密码：
	     Integer updatePasswordByUid(
		    @Param("uid") Integer uid,
		    @Param("password") String password,
		    @Param("modifiedUser") String modifiedUser,
		    @Param("modifiedTime") Date modifiedTime) -->
    <update id="updatePasswordByUid">
        UPDATE
            t_user
        SET
            password = #{password},
            modified_user = #{modified_user},
            modified_time = #{modified_time}
        WHERE
            uid = #{uid}
    </update>

    <update id="updateInfoByUid">
        UPDATE
        t_user
        SET
        <if test="phone != null">phone = #{phone},</if>
        <if test="email != null">email = #{email},</if>
        <if test="gender != null">gender = #{gender},</if>
        modified_user = #{modified_user},
        modified_time = #{modified_time}
        WHERE
        uid = #{uid}
    </update>

    <update id="updateAvatarByUid">
        UPDATE
            t_user
        SET
            avatar = #{avatar},
            modified_user = #{modified_user},
            modified_time = #{modified_time}
        WHERE
            uid = #{uid}
    </update>

</mapper>